.avatar {
    border-radius: 50%; 
    float: left; 
    margin-right: 1em;
  }

body{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
}

header {
    height: 50px;
    background: #000;
    color: #fff;
    padding: 0 .5rem 0 1rem;
  }
  
  header .logo{
    line-height: 50px;
    font-weight: bold;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li{
    display: inline;
  }
  
  nav ul li a,
  nav ul li a:link,
  nav ul li a:visited{
    display: inline-block;
    padding: 0 .5rem;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
  }
  
  nav ul li a:hover{
    background: rgb(184, 24, 24);
  }

  main {
    /* Use a margin to center the page */
    margin: 0 auto;
  
    /* Set the width of the content */
    width: 960px;
  
    /* For smaller screens to not exceed the max screen width */
    max-width: 90%;
  }

  #toggleMenu {
    display: none;
  }
  
  @media only screen and (max-width: 960px)  {

    header {
      position: relative;
    }
  
    #toggleMenu {
      display: block;
      float: right;
      line-height: 50px;
    }
  
    header {
      position: relative;
    }
  
    nav {
      position: absolute;
      display: none;
      background: #000;
      top: 50px;
      left: 0;
      right: 0;
    }
  
    nav ul li a,
    nav ul li a:link,
    nav ul li a:visited{
      display: block;
      border-bottom: 1px solid #777;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.cs-float-left {
  float:left;
  margin-left:25%;
}

.cs-float-right {
  float:right;
  margin-right:25%;
}

h1 { 
  text-transform:uppercase;
}

h4 {
  font-style:italic;
  font-weight: normal;
}
h1,
h2 {
  text-align:center;
  margin-bottom:2px;
}

.employer-title .float-left,
.employer-title .float-left {
  margin-bottom: 0;
}

.employer .float-right,
.employer .float-left,
.project .float-left,
.project .float-right {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

// .project .float-left2 {
//   padding: 1px;
// }

.role h3 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
}

.personal div {
  text-align:center;
}

.core-skills h3 {
  font-style:italic;
  text-align:center;
  text-transform:initial;
  margin-bottom:2px;
}

.certs th {
  display:inline-block;
  text-align:left;
  font-style:italic;
  font-weight:normal;
  margin-right:20px;
}

.school h3 {
  margin-bottom: 0;
  font-weight: normal;
}

.degree h3{
  margin-top: 0;
}

.contact-form {
  border: 2px solid salmon;
  margin: 16px auto 0;
  max-width: 400px;
  background: rgb(198, 203, 207);
  border-radius: 6px;
  padding: 32px 24px;
}

.contact-form label {
  font-weight: bold;
}

// .contact-form {
//   max-width: 400px;
//   margin: 1rem auto 0;
//   background: #ccc;
//   border-radius: 6px;
//   padding: 2rem 1.5rem;
// }

// .contact-form h1 {
//   margin-top: 0;
//   text-align: center; }

// .contact-form label {
//   display: block;
//   font-weight: bold;
//   font-size: 1rem; }

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  font-size: 2rem;
  padding: .5rem .25rem;
  max-width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box; }

.contact-form input[type="submit"] {
  font-size: 1rem;
  border-radius: 3px;
  padding: .5rem 1rem; }